<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about">

<h1>${_("Privacy Policy")}</h1>

<p>
  The following discloses the privacy practices for epodx.org:
</p>

<h2>Information gathering</h2>

<h3>1) Registering for an account</h3>
<p>
  If you register on our website or request information or other resources, we may ask for your username, email address, postal code, position, affiliation, gender, year of birth, or other personal information. We may also ask you for other information at other times.  We use this information to respond to your inquiries, to customize your experience on the website, to improve our content and to provide you with email notifications related to your interests.
</p>

<h3>2) Browsing information and cookies</h3>
<p>
  When you access this website, our servers automatically record information that your browser provides.  This may include, among other data, your Internet Protocol (IP) address, browser type, device identifiers and location, the date and time of your access, courses visited, and files accessed. 
</p>
<p>
  This website will attempt to store a small piece of data known as a "cookie" on your computer, which will be read each time you visit the site.  We may use cookies to establish continuity between related requests, to personalize the site to your preferences, to authenticate your log-in, and to analyze site traffic. Cookies do not themselves contain any personal information. You may choose to block cookies with your browser, but if you do, you may not be able to take advantage of all of this site's features.
</p>

<h3>3) User communications</h3>
<p>
  When you send email or other communications to us, we may retain the communications in order to process your inquiries, respond to your requests and improve our services.
</p>
<p>
  You should also be aware that, when you voluntarily disclose personal information in discussion groups, that information may be collected by others and may result in unsolicited messages from others.
</p>

<h2>Use of information</h2>

<p>
  We use this information for the following purposes, in addition to those described above: tailoring the website to user needs and improving our service; generating data and reports about usage of the website and its content; supporting the functioning and security of the website; protecting our rights and safety and the rights and safety of others; and research. 
</p>

<h2>Security</h2>

<p>
  Epodx website has security measures in place to protect the loss, misuse and alteration of the information under our control.
</p>
Contact
If you have any questions about this privacy statement, the practices of this site, or your interactions with this site, contact Evidence for Policy Design staff at epod@hks.harvard.edu.

<h2>Contact</h2>
<p>
  If you have any questions about this privacy statement, the practices of this site, or your interactions with this site, contact Evidence for Policy Design staff at epod@hks.harvard.edu.
</p>

</section>
